.container{

    position: relative;
    margin:0 auto;
    width: 940px;
}

.destaque{
    
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.produtos{
    clear: right;
}

.produtos img{

    width: 100px;
}
.sacola{
    position: absolute;
    top: 0;
    right: 0;
    width: 10.75em;
    padding-right: 2em;
    background: url("../mirror-fashion/img/sacola.png");
    background-repeat: no-repeat;
    background-size: 2em 2em;
    background-position-x: right;
}



.item-cabecalho{
    display: inline;
    margin-left: 1em;
}

.menu{

    position: absolute;
    right: 0;
    bottom: 0;
}

.departamentos{
    
    
    /*position: absolute;*/
    column-count: 1;
    margin-top: 10px;
    width: 230px;
    margin-right: auto;
    border-bottom: 1em solid #ccc;
    
}

.img-destaque{
    
    float: right;
    /*
    position: absolute;
    right: 0;
    top:0;*/
}

#busca{
    
    padding-left: 5px;
    background-color: #ccc;
    width: 230px;
    height: 70px;
}
input{

    border-radius: 10px;
    display: inline;
}

.departamentos h2{
    background-color: #ccc;
}

.departamentos a{

    display: block;
    text-decoration: none;
    color: black;
    border-bottom:1px solid #ccc;
}


.vitrine {

    margin-top: 0.3em;
    display: inline-block;
    width: 45%;
    padding: 1.4em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ccc;

    border-radius: 4px;
    box-shadow: 1px 1px 4px #999;
}

.vitrine figure{

    display: inline-block;
    padding: 1em;
}

.vitrine2{

    background-color: blue;

} 

.rodape{
    padding: 0.3em;
    background: url("../mirror-fashion/img/fundo-rodape.png");
    
}

.social{

    float: right;
    right: 0;
    top:0;

}

.link-social{

    display: inline-block;
    background: red;
    color: transparent;
    text-indent: -9999999px;
    width: 32px;
    height: 32px;
}

[href *= "face"]{

    background: url("../mirror-fashion/img/facebook.png");
}


[href *= "twitter"]{

    background: url("../mirror-fashion/img/twitter.png");
}

[href *= "google"]{

    background: url("../mirror-fashion/img/googleplus.png");
}

@media(max-width: 940px){
    h1{
        text-align: center;
    }
    
    .img-destaque{
        max-width: 100%;
        float: none;
    }

    #img{

        width: 100%;
    }
    
    .menu{

        position: static;
        text-align: center;
    }
    .sacola{

        display: none;
    }
    .container{
        
        width: 90%;
    }

    h1{

        text-align: center;
    }

    .vitrine{

        width: 49.4%;
        box-sizing: border-box;

    }

    .departamentos{
        
        text-align: center;
        width: 100%;
        font-size: 25px;
    }

    #busca{

        width: 100%;
    }
}

@media(min-width: 496px) and (max-width: 940px){

    .departamentos ul{

        column-count: 2;
    }
}


@media(min-width: 793px) and (max-width: 940px){

    .vitrine{

        width: 45%;
    }
}

