.container{
    position: relative;
    margin:0 auto;
    width: 940px;
}

.destaque{

    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.produtos{

    clear: right;
}

.produtos img{

    width: 100px;
}
#sacola{
    position: absolute;
    top: 0;
    right: 0;
    width: 10.75em;
    padding-right: 2em;
    background: url("../img/sacola.png");
    background-repeat: no-repeat;
    background-size: 2em 2em;
    background-position-x: right;
}
.item-cabecalho{
    display: inline;
    margin-left: 1em;
}

#menu{
    position: absolute;
    right: 0;
    bottom: 0;
}

#departamentos{
    
    
    /*position: absolute;*/
    
    margin-top: 10px;
    width: 230px;
    margin-right: auto;
    border-bottom: 1em solid #ccc;
    
}

.img-destaque{
    
    float: right;

    /*
    position: absolute;
    right: 0;
    top:0;*/
}

#busca{
    
    padding-left: 5px;
    background-color: #ccc;
    width: 230px;
    height: 70px;
}
input{

    border-radius: 10px;
    display: inline;
}

#departamentos h2{
    width: 230px;
    background-color: #ccc;
}

#departamentos a{

    display: block;
    text-decoration: none;
    color: black;
    border-bottom:1px solid #ccc;
}


.vitrine {

    margin-top: 0.3em;
    display: inline-block;
    width: 45%;
    padding: 1.4em;
    background-color: #ccc;
}

.vitrine figure{

    display: inline-block;
    padding: 1em;
}

.vitrine2{

    background-color: blue;

} 

.rodape{
    padding: 0.3em;
    background: url("../img/fundo-rodape.png");
    
}

.social{

    position: absolute;
    right: 0;
    top:0;

}

.link-social{

    display: inline-block;
    background: red;
    color: transparent;
    text-indent: -9999999px;
    width: 32px;
    height: 32px;
}

[href *= "face"]{

    background: url("../img/facebook.png");
}


[href *= "twitter"]{

    background: url("../img/twitter.png");
}

[href *= "google"]{

    background: url("../img/googleplus.png");
}
